/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b7a7d4 #f5f5fa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f5f5fa;
}

*::-webkit-scrollbar-thumb {
  background-color: #b7a7d4;
  border-radius: 20px;
  border: 3px solid #f5f5fa;
}
